body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}

.orange-highlight{
    color: orange;
}

.half-width{
    width: 40%;
    margin-left: 5%;

    float: left;
}

.half-width img{
    width: 120%;
}

.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

section{
    height: 500px;
    padding-bottom: 100px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding:10px 20px;
    border-radius: 3px;
    color: white;
    font-weight: 700;
}

.single{
    box-shadow: 10px 10px 40px gray;
    border-radius: 8px;
    height: 80%;

}

#full{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
    background-color: wheat;
}

#baby{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    background-color: lightblue;
}

.center{
    text-align: center;
}

.img1 img{
    width: 27%;
    float: left;
    margin-top: 5%;
    margin-left: 7%;
    
}
.img2 img{
   width: 27%;
   margin-top: 5%;
   margin-left: 3%;
}

.work{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.footer span{
    font-size: 20px;
    font-weight: 700;
}
.footer-highlight{
    margin: 3% 30%;
    background-image: linear-gradient(rgb(252, 165, 244), rgb(240, 71, 255));
    padding:20px 40px;
    border-radius: 3px;
}
.footer{
    height: 300px;
    background-image: url(images/footer-bg.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}
